@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6f7a8a;
  overflow: hidden;
}
#main {
  width: 100%;
  height: 1000px;
  position: relative;
}
#main::before {
  content: "";
  background: url(../images/cup-of-coffee-1280537.jpg);
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#header {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}
#header_name {
  float: left;
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  display: block;
}
#header_name > div {
  margin-top: -170px;
  margin-left: 180px;
  font-size: 150px;
  color: #00d646;
}
#header .header_top {
  margin-top: 10px;
  float: right;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
#header .header_top li {
  margin-right: 10px;
  border-right: 2px solid#ccc;
}
#header .header_top li:last-child {
  border-right: 0px solid#ccc;
}

#header .header_top li a {
  margin-right: 10px;
  color: white;
}

#header .header_top li:hover {
  background-color: white;
}

#header .header_top li a:hover {
  color: black;
}
/* #header .header_top li.on a {
  color: rgb(0, 0, 0);
} */

#header .name {
  margin: 70px -410px 0 0;
  float: right;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#home_main {
  margin: 0 auto;
  width: 1200px;
  height: 800px;
  position: relative;
  margin-top: 50px;
}
#home_main p {
  font-size: 80px;
  color: white;
  margin-left: 200px;
  margin-bottom: 30px;
  font-weight: bold;
}
#home_main span {
  font-size: 80px;
  color: white;
  margin-left: 300px;
  font-weight: bold;
  color: #00d646;
}
#home_main h5 {
  font-size: 60px;
  color: white;
  margin-top: -80px;
  margin-left: 550px;
  font-weight: bold;
}
.txt-title {
  position: relative;
  margin-top: -700px;
  margin-left: 600px;
  font-size: 80px;
  color: white;
  font-weight: bold;
}

.q_mn {
  position: absolute;
  top: 150px;
  right: 10px;
  z-index: 9999;
  width: 150px;
  height: 250px;
  border: 1px solid#ccc;
  background: #333b50;
  border-radius: 15px;
}
.q_mn ul {
  margin: 20px 0 0 20px;
}
.q_mn li {
  margin-bottom: 10px;
}
.q_mn li a {
  font-size: 25px;
  color: white;
}
.q_mn li.on a {
  background-color: aqua;
  color: black;
  display: block;
}

#profile {
  width: 100%;
  height: 1000px;
}

#profile_main {
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
  position: relative;
}
#profile_title {
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
#profile_title > div {
  margin-top: -170px;
  margin-left: 200px;
  font-size: 150px;
  color: #00d646;
}
#profile_main p {
  margin-top: 50px;
  color: rgb(39, 35, 35);
  font-size: 30px;
  font-weight: 600;
  font-family: "GmarketSansMedium";
  margin-bottom: 70px;
}
.profile_sub {
  float: left;
  width: 200px;
  height: 300px;
}
.profile_sub li {
  margin-bottom: 30px;
}
.profile_sub a {
  font-size: 25px;
  font-style: italic;
  color: rgb(39, 35, 35);
  font-weight: bold;
}
.profile_sub2 {
  float: left;
  width: 600px;
  height: 300px;
}
.profile_sub2 li {
  margin-bottom: 30px;
}
.profile_sub2 a {
  font-size: 25px;
  font-style: italic;
  color: rgb(39, 35, 35);
  font-weight: bold;
}
#profile_main img {
  margin-left: -80px;
  width: 50px;
  height: 50px;
}
#skill {
  width: 100%;
  height: 1000px;
  position: relative;
}
#skill::before {
  content: "";
  background: url(../images/workspace-1280538.jpg);
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#skill_notice {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
}
#skill_sub {
  background-color: white;
  /* background-color: #333b50; */
  border-radius: 50px;
  width: 1200px;
  height: 550px;
}
#skill_title {
  width: 300px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  position: relative;
}
#skill_title > div {
  margin-top: -170px;
  margin-left: 120px;
  font-size: 150px;
  color: #00d646;
}
#skill_main {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* .about__icon  {
  width: 1200px;
  height: 450px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  background-color: aqua;
} */

.about__icon ul {
  margin-top: 40px;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about__icon li {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 200px;
}

.about__icon__content2 {
  width: 380px;
  height: 100px;
  text-align: center;
  border-radius: 15px;
}
.about__icon__li:nth-child(1):hover {
  background-color: #00d646;
}

.about__icon__content2 p {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}
.about__icon__content2_text {
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  top: -130px;
  display: none;
  position: absolute;
  /* background-color: #1e3e3a; */
  background-color: pink;
  width: 380px;
  height: 120px;
  text-align: center;
  border-radius: 15px;
}
.about__icon__content2_text p {
  margin-top: 10px;
  color: black;
  font-size: 15px;
}

.about__icon__content:hover .about__icon__content2_text {
  display: block;
}

.about__icon__content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 8%;
  border: 1px solid rgb(247, 222, 193);
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  /* background-color: rgb(248, 205, 205); */
}
.about__icon__content img {
  width: 70px;
  height: 70px;
}

.about__icon__content:hover {
  transform: scale(1.1);
}
.about__icon__content > i {
  display: block;
  color: var(--text-color);
}

.about__icon__name {
  margin-top: 20px;
  font-size: 20px;
}

#lisence {
  margin-top: -60px;
  width: 900px;
  height: 250px;
  background-color: #c0bfbc;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog {
  width: 380px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
.blog_sub {
  width: 380px;
  border-radius: 10px 10px 0 0;
  height: 130px;
  background-color: #1e3e3a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blog_sub p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: "GmarketSansMedium";
}

.blog_sub h4 {
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "GmarketSansMedium";
}
.blog span {
  line-height: 65px;
  margin-left: 10px;
  font-size: 13px;
  font-family: "GmarketSansMedium";
}
.lisence_sub {
  width: 400px;
  height: 200px;
  background-color: #ede5e3;
  border-radius: 10px;
}
.lisence_title span {
  margin-left: 30px;
  line-height: 60px;
  font-size: 13px;
  color: black;
  font-family: "GmarketSansMedium";
}

.lisence_title p {
  line-height: 30px;
  margin-left: 30px;
  font-size: 20px;
  color: black;
  font-family: "GmarketSansMedium";
}
.lisence_sub ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
  height: 100px;
}
.lisence_sub li {
  text-align: center;
  float: left;
  width: 180px;
  height: 40px;
}
.lisence_sub li a {
  color: black;
  font-size: 13px;
  font-family: "GmarketSansMedium";
}

#project {
  width: 100%;
  height: 1000px;
}

#project_main {
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
}
#project_title {
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
#project_title > div {
  margin-top: -170px;
  margin-left: 220px;
  font-size: 150px;
  color: #00d646;
}
#project_notice {
  width: 1200px;
  height: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.box-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
  width: 1000px;
  height: 330px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box_sub {
  width: 480px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt-project {
  width: 480px;
  height: 330px;
}
.img-project1 {
  border-radius: 15px;
  width: 480px;
  margin-bottom: 25px;
}
.img-project2 {
  border-radius: 15px;
  width: 480px;
  height: 260px;
  margin-bottom: 15px;
}

.btn-detail {
  width: 400px;
  height: 40px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background-color: rgb(247, 222, 193);
  border: solid 2px #6a75ca;
  color: white;
  font-size: 20px;
}
.btn-detail:hover {
  background-color: white;
  border: solid 2px #6a75ca;
  color: #6a75ca;
}
.txt-project h3 {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "GmarketBold";
  font-size: 28px;
  margin-bottom: 20px;
}
.txt-project dl dt {
  margin-left: 20px;
  font-family: "GmarketBold";
  color: #6a75ca;
  font-size: 22px;
  margin-bottom: 10px;
}
.txt-project dl dd {
  margin-left: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

#finish {
  width: 1200px;
  height: 800px;
}
#finish_title {
  padding: 20px 0 0 30px;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 70px;
  font-weight: bold;
}
#finish_main {
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#finish_title > div {
  margin-top: -170px;
  margin-left: 180px;
  font-size: 150px;
  color: #00d646;
}
.form_title {
  margin-left: 30px;
  text-align: center;
  width: 250px;
  height: 50px;
  font-size: 40px;
  font-family: "GmarketSansMedium";
  font-weight: bold;
  margin-bottom: 20px;
}
.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  font-size: 15px;
  color: white;
}

.field input {
  display: block;
  min-width: 300px;
  line-height: 2;
  font-size: 14px;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 15px;
  background-color: #4460aa;
  color: #fff;
  border: none;
}
.thx {
  font-size: 35px;
  font-family: "GmarketSansMedium";
  font-weight: bold;
  color: #1e3e3a;
}

.thx2 {
  font-size: 15px;
  font-family: "GmarketSansMedium";
  font-weight: bold;
  color: #1e3e3a;
}
