@media screen and (max-width: 480px) {
  #wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6f7a8a;
    overflow: hidden;
  }
  #main {
    width: 480px;
    height: 1000px;
  }
  #header {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
  #header_name {
    float: left;
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: block;
  }
  #header_name > div {
    margin-top: -115px;
    margin-left: 135px;
    font-size: 100px;
    color: #00d646;
  }
  #header .header_top {
    margin-top: -120px;
    float: right;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: -20px;
  }
  #header .header_top li {
    margin-right: 20px;
    border-right: 1px solid #ccc;
  }
  #header .header_top li a {
    margin-right: 10px;
    color: rgb(255, 255, 255);
  }
  #header .header_top li.on a {
    color: rgb(0, 0, 0);
  }
  #header .header_top li:last-child {
    border-right: 0px solid #ccc;
  }

  #header .name {
    margin: -20px 0px 0 0px;
    float: right;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: rgb(149, 125, 255);
  }
  #main_pic {
    width: 100%;
    height: 800px;
  }
  #main_pic ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #main_pic img {
    width: 380px;
    height: 250px;
  }

  #main_pic li:nth-child(1) {
    display: none;
  }
  #main_pic li:nth-child(2) {
    display: none;
  }
  #main_pic li:nth-child(3) {
    display: none;
  }
  #main_pic li:nth-child(4) {
    display: none;
  }
  #main_pic li:nth-child(5) {
    display: none;
  }
  #main_pic li:nth-child(6) {
    display: none;
  }

  .q_mn {
    display: none;
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 9999;
    width: 100px;
    height: 250px;
    border: 1px solid#ccc;
    background: #333b50;
  }
  .q_mn ul {
    margin: 20px 0 0 20px;
  }
  .q_mn li {
    margin-bottom: 10px;
  }
  .q_mn li a {
    font-size: 25px;
    color: white;
  }
  .q_mn li.on a {
    background-color: aqua;
    color: black;
    display: block;
  }

  #profile {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  #profile::before {
    content: "";
    background: url(../images/cup-of-coffee-1280537.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  #profile_main {
    margin: 0 auto;
    width: 480px;
    height: 1000px;
    position: relative;
  }
  #profile_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #profile_main p {
    font-size: 50px;
    color: white;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  #profile_title > div {
    margin-top: -115px;
    margin-left: 145px;
    font-size: 100px;
    color: #00d646;
  }
  #profile_main span {
    font-size: 50px;
    color: white;
    margin-left: 80px;
    font-weight: bold;
    color: #00d646;
  }
  #profile_main h5 {
    font-size: 50px;
    color: white;
    margin-top: 0px;
    margin-left: 100px;
    font-weight: bold;
  }

  #skill {
    width: 480px;
    height: 1000px;
  }
  #skill_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }

  #skill_title > div {
    margin-top: -115px;
    margin-left: 90px;
    font-size: 100px;
    color: #00d646;
  }
  #skill_main {
    margin: 0 auto;
    width: 480px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #skill_main > div {
    margin-bottom: 40px;
  }
  .html_bar {
    width: 300px;
    height: 30px;
    font-weight: 600;
  }
  .html_bar p {
    margin-left: 10px;
    font-size: 20px;
  }
  .html_bar .html {
    margin: -20px 0 0 70px;
    width: 90%;
    height: 20px;
    padding: 0;
    background-color: #00d646;
    color: #111;
  }
  .html > p {
    float: right;
    margin-right: -50px;
    margin-top: -5px;
  }
  .css_bar {
    width: 300px;
    height: 30px;
    font-weight: 600;
  }
  .css_bar p {
    margin-left: 10px;
    font-size: 20px;
  }
  .css_bar .css {
    margin: -20px 0 0 70px;
    width: 85%;
    height: 20px;
    padding: 0;
    background-color: #00d646;
    color: #111;
  }
  .css > p {
    float: right;
    margin-right: -50px;
    margin-top: -5px;
  }
  .javascript_bar {
    width: 300px;
    height: 30px;
    font-weight: 600;
  }
  .javascript_bar p {
    margin-left: -20px;
    font-size: 20px;
  }
  .javascript_bar .javascript {
    margin: -20px 0 0 70px;
    width: 70%;
    height: 20px;
    padding: 0;
    background-color: #00d646;
    color: #111;
  }
  .javascript > p {
    float: right;
    margin-right: -50px;
    margin-top: -5px;
  }
  .jquery_bar {
    width: 300px;
    height: 30px;
    font-weight: 600;
  }
  .jquery_bar p {
    margin-left: 10px;
    font-size: 20px;
  }
  .jquery_bar .jquery {
    margin: -20px 0 0 70px;
    width: 65%;
    height: 20px;
    padding: 0;
    background-color: #00d646;
    color: #111;
  }
  .jquery > p {
    float: right;
    margin-right: -50px;
    margin-top: -5px;
  }
  .nodejs_bar {
    width: 300px;
    height: 30px;
    font-weight: 600;
  }
  .nodejs_bar p {
    margin-left: 10px;
    font-size: 20px;
  }
  .nodejs_bar .nodejs {
    margin: -20px 0 0 70px;
    width: 50%;
    height: 20px;
    padding: 0;
    background-color: #00d646;
    color: #111;
  }
  .nodejs > p {
    float: right;
    margin-right: -50px;
    margin-top: -5px;
  }
  #project {
    width: 100%;
    height: 1000px;
    position: relative;
  }

  #project::before {
    content: "";
    background: url(../images/workspace-1280538.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  #project_main {
    margin: 0 auto;
    width: 480px;
    height: 1000px;
    position: relative;
    background-color: aqua;
  }
  #project_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #project_title > div {
    margin-top: -115px;
    margin-left: 160px;
    font-size: 100px;
    color: #00d646;
  }

  #project_notice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 850px;
    background-color: blue;
  }
  #project_img {
    margin: 0px 0 0 30px;
    width: 480px;
    height: 480px;
    background-color: rgb(0, 255, 42);
  }
  #notice_title {
    width: 480px;
    height: 50px;
    background-color: blueviolet;
  }
  #notice_title p {
    font-size: 50px;
    font-weight: bold;
    color: white;
  }
  #notice_title span {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }

  #finish {
    width: 480px;
    height: 1000px;
  }
  #finish_main {
    width: 480px;
    height: 1000px;
  }
  #finish_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #finish_title > div {
    margin-top: -115px;
    margin-left: 130px;
    font-size: 100px;
    color: #00d646;
  }

  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-size: 12px;
    color: white;
  }

  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }

  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460aa;
    color: #fff;
    border: none;
  }
}
