@media screen and (max-width: 480px) {
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  #wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6f7a8a;
    overflow: hidden;
  }
  #main {
    width: 100%;
    height: 700px;
    position: relative;
  }
  #main::before {
    content: "";
    background: url(../images/cup-of-coffee-1280537.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  #header {
    width: 480px;
    height: 200px;
    margin: 0 auto;
    position: relative;
  }
  #header_name {
    line-height: 150px;
    float: left;
    padding: 20px 0px 0px 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: block;
  }
  #header_name > div {
    margin-top: -165px;
    margin-left: 130px;
    font-size: 100px;
    color: #00d646;
  }
  #header .header_top {
    margin-top: -130px;
    float: right;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #44aa7a;
    margin-right: -10px;
  }
  #header .header_top li {
    border-right: 2px solid#ccc;
  }
  #header .header_top li:last-child {
    border-right: 0px solid#ccc;
  }

  #header .header_top li a {
    margin-right: 10px;
    color: white;
  }

  #header .header_top li:hover {
    background-color: white;
  }

  #header .header_top li a:hover {
    color: black;
  }
  /* #header .header_top li.on a {
            color: rgb(0, 0, 0);
          } */

  #header .name {
    display: none;
    margin: -30px 0px 0 0;
    float: right;
    width: 400px;
    height: 80px;
    font-size: 40px;
    color: white;
    font-weight: bold;
  }

  #home_main {
    margin: 0 auto;
    width: 1200px;
    height: 530px;
    position: relative;
    margin-top: -50px;
  }
  #home_main p {
    font-size: 80px;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  #home_main span {
    font-size: 80px;
    color: white;
    margin-left: 100px;
    font-weight: bold;
    color: #00d646;
  }
  #home_main h5 {
    font-size: 60px;
    color: white;
    margin-top: -20px;
    margin-left: 200px;
    font-weight: bold;
  }
  .txt-title {
    position: relative;
    margin-top: -400px;
    margin-left: 80px;
    font-size: 80px;
    color: white;
    font-weight: bold;
  }

  .q_mn {
    display: none;
    position: absolute;
    top: 180px;
    right: 10px;
    z-index: 9999;
    width: 100px;
    height: 250px;
    border: 1px solid#ccc;
    background: #333b50;
    border-radius: 15px;
  }
  .q_mn ul {
    height: 200px;
    margin: 20px 0 0 10px;
  }
  .q_mn li {
    margin-bottom: 10px;
  }
  .q_mn li a {
    font-size: 25px;
    color: white;
  }
  .q_mn li.on a {
    background-color: aqua;
    color: black;
    display: block;
  }

  #profile {
    width: 100%;
    height: 650px;
  }

  #profile_main {
    margin: 0 auto;
    width: 480px;
    height: 1000px;
    position: relative;
  }
  #profile_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #profile_title > div {
    margin-top: -115px;
    margin-left: 140px;
    font-size: 100px;
    color: #00d646;
  }
  #profile_main p {
    margin-left: 20px;
    margin-top: 0px;
    color: rgb(39, 35, 35);
    font-size: 15px;
    font-weight: 600;
    font-family: "GmarketSansMedium";
    margin-bottom: 70px;
  }
  .profile_sub {
    margin-left: 20px;
    float: left;
    width: 100px;
    height: 300px;
  }
  .profile_sub li {
    margin-bottom: 30px;
  }
  .profile_sub a {
    font-size: 15px;
    font-style: italic;
    color: rgb(39, 35, 35);
    font-weight: bold;
  }
  .profile_sub2 {
    margin-left: 20px;
    float: left;
    width: 300px;
    height: 300px;
  }
  .profile_sub2 li {
    margin-bottom: 30px;
  }
  .profile_sub2 a {
    font-size: 15px;
    font-style: italic;
    color: rgb(39, 35, 35);
    font-weight: bold;
  }
  #profile_main img {
    margin-top: -30px;
    margin-left: -30px;
    width: 40px;
    height: 40px;
  }
  #skill {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  #skill::before {
    content: "";
    background: url(../images/workspace-1280538.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  #skill_notice {
    position: relative;
    margin: 0 auto;
    width: 480px;
    height: 1000px;
  }
  #skill_sub {
    margin-top: -30px;
    background-color: #333b50;
    border-radius: 15px;
    width: 480px;
    height: 450px;
  }
  #skill_title {
    margin-left: 20px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
  }
  #skill_title > div {
    margin-top: -115px;
    margin-left: 90px;
    font-size: 100px;
    color: #00d646;
  }
  #skill_main {
    position: relative;
    margin: 0 auto;
    width: 480px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill_title2 {
    margin-top: 20px;
    width: 480px;
    height: 150px;
    color: white;
    font-size: 15px;
    text-align: center;

    margin-bottom: -20px;
  }
  .about__icon {
    margin: 0 auto;
    width: 430px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
  }
  .about__icon__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 110px;
    border-radius: 8%;
    border: 1px solid rgb(247, 222, 193);
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
      0px 11px 55px rgba(0, 0, 0, 0.07);
    transition: 0.3s;
    background-color: rgb(248, 205, 205);
  }
  .about__icon__content img {
    width: 50px;
    height: 50px;
  }

  .about__icon__content:hover {
    transform: scale(1.1);
  }
  .about__icon__content > i {
    display: block;
    color: var(--text-color);
  }

  .about__icon__name {
    margin-top: 10px;
    font-size: 20px;
  }

  #lisence {
    margin-top: -60px;
    width: 480px;
    height: 350px;
    background-color: #c0bfbc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog {
    width: 480px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
  }
  .blog_sub {
    border: 15px 15px 0 0;
    width: 480px;
    height: 130px;
    background-color: #1e3e3a;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .blog_sub p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: "GmarketSansMedium";
  }

  .blog_sub h4 {
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: "GmarketSansMedium";
  }
  .blog span {
    line-height: 0px;
    margin-left: 10px;
    font-size: 12px;
    font-family: "GmarketSansMedium";
  }
  .lisence_sub {
    width: 480px;
    height: 160px;
    background-color: #ede5e3;
    border-radius: 10px;
  }
  .lisence_title span {
    margin-left: 30px;
    line-height: 60px;
    font-size: 13px;
    color: black;
    font-family: "GmarketSansMedium";
  }

  .lisence_title p {
    line-height: 10px;
    margin-left: 30px;
    font-size: 18px;
    color: black;
    font-family: "GmarketSansMedium";
  }
  .lisence_sub ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 480px;
    height: 70px;
  }
  .lisence_sub li {
    text-align: center;
    float: left;
    width: 170px;
    height: 13px;
  }
  .lisence_sub li a {
    color: black;
    font-size: 13px;
    font-family: "GmarketSansMedium";
  }

  #project {
    width: 100%;
    height: 1400px;
  }

  #project_main {
    width: 480px;
    height: 1400px;
  }
  #project_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #project_title > div {
    margin-top: -115px;
    margin-left: 160px;
    font-size: 100px;
    color: #00d646;
  }
  #project_notice {
    width: 480px;
    height: 1300px;
    display: flex;
    justify-content: flex-start;
  }
  .box-project:nth-child(1) {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 480px;
    height: 600px;
    border-radius: 20px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4prgb (255, 123, 123) rgba(0, 0, 0, 0.25);
  }
  .box-project:nth-child(2) {
    border-top: 1px solid#000;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 480px;
    height: 600px;
    border-radius: 20px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4prgb (255, 123, 123) rgba(0, 0, 0, 0.25);
  }
  .box_sub {
    width: 480px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  .txt-project {
    width: 480px;
    height: 300px;
    margin-left: 40px;
  }

  .img-project1 {
    border-radius: 15px;
    width: 400px;
    height: 200px;
    margin-bottom: 25px;
  }
  .img-project2 {
    border-radius: 15px;
    width: 400px;
    height: 230px;
    margin-bottom: 15px;
  }

  .btn-detail {
    width: 400px;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #1e3e3a;
    border: solid 2px #6a75ca;
    color: white;
    font-size: 20px;
  }
  .btn-detail:hover {
    background-color: white;
    border: solid 2px #6a75ca;
    color: #6a75ca;
  }
  .txt-project h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "GmarketBold";
    font-size: 28px;
    margin-bottom: 20px;
  }
  .txt-project dl dt {
    margin-left: 20px;
    font-family: "GmarketBold";
    color: #6a75ca;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .txt-project dl dd {
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  #finish {
    width: 1000px;
    height: 1000px;
    background-color: aqua;
  }
  #finish_main {
    width: 1000px;
    height: 1000px;
  }
  #finish_title {
    padding: 20px 0 0 30px;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  #finish_title > div {
    margin-top: -170px;
    margin-left: 180px;
    font-size: 100px;
    color: #00d646;
  }
  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-size: 12px;
    color: white;
  }

  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }

  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460aa;
    color: #fff;
    border: none;
  }
}
